/* ------ header start ------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #232323;
    color: #fff;
}

header nav{
    height: 80px;
}

.pembungkus-film{
    overflow-x: scroll;
}

.pembungkus-film .keterangan-film{
    margin-top: -10px;
    font-size: 14px;
}
.list-film > .poster-film{
    background: #f4f4f4;
    width: 200px;
    height: 250px;
}