/* ------ header start ------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #232323;
    color: #fff;
}

header{
    background: rgba(0, 0, 0, 0.4);
}

header nav{
    height: 80px;
}
